<mat-card>
  <div class="title"><span>LOGIN</span></div>

  <div class="form-errors">
    <div *ngFor="let msg of errorMessages" class="error mat-error">
      {{msg}}
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="formSubmit()">
    <mat-form-field >
      <mat-label>Email</mat-label>
    <input placeholder="JohnDoe@example.com" type="email" matInput formControlName='email'>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Password</mat-label>
      <input placeholder="Min 8 characters length" type="password" matInput formControlName='password'>
    </mat-form-field>

    <div class="btn-group">
      <button type="submit" mat-raised-button color="primary">SUBMIT</button>
      <button type="button" matTooltip='Continue without login.' mat-raised-button color="secondary">CONTINUE</button>
    </div>
  </form>
</mat-card>
