@use '../../assets/styles/vars';
@use '../../assets/styles/mixins'as mix;

$form-padd: 1em;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include mix.app-paddings;
}

mat-card {
  display: block;
  $padding-LR: 3em;
  padding-left: $padding-LR;
  padding-right: $padding-LR;
  max-width: 400px;

  animation: fade-in 1s ease-out;
}

form {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;

  button {
    width: 100%;
    position: relative;
  }
}

.form-errors {
  padding: 0.5em $form-padd;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: vars.$txt-xl;
  padding: 0.5em;

  letter-spacing: 0.15em;
}

mat-form-field {
  width: 100%;

  &:first-of-type {
    padding-bottom: 0.5em;
  }

  padding: $form-padd;
  flex-grow: 0.8;
}

form {
  button,
  mat-form-field,
  .title {
    animation: fade-top 1.5s ease-out;
  }
}

.title {
  animation: fade-top-title 1.5s ease-out;
}

input {
  width: 100%;
}

@keyframes fade-top-title {
  $top: 20px;

  0% {
    top: -$top;
    opacity: 0;
    letter-spacing: 1em;
  }

  10% {
    top: -$top;
    opacity: 0;
  }


  70% {
    top: 0;
  }

  90% {
    letter-spacing: 0.15em;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-top {
  $top: 20px;

  0% {
    top: -$top;
    opacity: 0;
  }

  10% {
    top: -$top;
    opacity: 0;
  }

  70% {
    top: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    top: 50px;
    opacity: 0;
  }

  70% {
    top: 0;
  }

  100% {
    opacity: 1;
  }
}
