<ngx-spinner size="large"></ngx-spinner>
<button [matTooltip]="'Dark/light mode switch'" mat-mini-fab class="theme-btn" (click)="toggleTheme()">
  <ng-container [ngSwitch]="appTheme$ | async">
    <ng-container *ngSwitchCase="themeEnum.default">
      <mat-icon class="mat-18">brightness_3</mat-icon>
    </ng-container>
    <ng-container *ngSwitchCase="themeEnum.light">
      <mat-icon class="mat-18">brightness_5</mat-icon>
    </ng-container>
  </ng-container>

</button>
<router-outlet></router-outlet>
