@use '@angular/material' as mat;

///////////// Material Design

@include mat.core();

$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);

$light-theme: mat.define-light-theme((
 color: (
   primary: $light-primary,
   accent: $light-accent,
 )
));

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
 )
));

@include mat.all-component-themes($dark-theme);

.light-theme {
  @include mat.all-component-colors($light-theme);
  --background-color: rgb(233, 230, 230);
}

//////////////////

html,
body {
  height: 100%;

  --background-color: rgb(96, 96, 96);

  background: var(--background-color);
  overflow-y: auto;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(85, 85, 85, 0.5);
  }
}

button {

  &:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
  }
}

.mat-dialog-container {
  padding: 0 !important;
  background: none;
}
