.full-width-table {
  width: 100%;
  min-width: 600px;
  overflow-y: auto;

   tr.mat-row {
    &:hover {
      opacity: 0.6;
    }
  }
}

.container {
  width: 100%;
  position: relative;
}

.table-wrapper {
  overflow-y: auto;
}

:host{
  position: relative;
}

.spinner {
  position: absolute;
  display: flex;
  width: 100vw;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  top: 50%;

  .txt {
    position: relative;
  }

  span {
    display: block;
    opacity: 0.6;
    padding: 2px 10px;
    border-radius: 10px;
    transform: translateY(80px);
  }
}
